body {
  font-family: Arial, sans-serif;
  background-color: #020f1f;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #051d3b;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 800px;
}

h3 {
  margin: 0;
  color:#cedef2;
  width: 95%;
  margin: auto;
}

textarea {
  background-color: #cedef2;
  color: #051d3b;
  width: 95%;
  margin: 0;
  padding: 0;
  resize: none;
  max-width: 800px;
  min-height: 50px;
  border: 1px solid #020f1f;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #cedef2;
  color: #051d3b;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #98a5b4;
}

#responseContainer {
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
}

#responseImage {
  border-radius: 8px;
  margin: auto;
  text-align: center;
  max-width: 95%;
}

footer {
  background-color: #051d3b;
  border-top: 1px solid #020f1f;
  color: #cedef2;
  text-align: center;
  padding: 0px 0px 10px;
  margin: auto;
  width: 100%;
  max-width: 800px;
}

footer a {
  color: #007bff;
}

/* parameters element */
details {
  user-select: none;
  display: flex;
  flex-direction: column; /* Arrange the sliders vertically */
  gap: 10px; /* Adjust the gap between slider-wrapper elements as needed */
  color:#cedef2;
  margin: 10px 0px 0px 10px;
  padding-bottom: 10px;
}

summary {
  text-align: left;
  cursor: pointer;
}

/* slider element */
.control-wrapper {
  display: flex;
  align-items: center; /* Ensure labels and sliders are aligned */
  margin: 5px;
}

.slider {
  width: 60%;
  height: 10px;
  border-radius: 5px;
}

.control-label {
  margin-right: 30px;
  text-align: left;
  width: 200px;
}

#limitations {
  padding-top: 5px;
  margin: 0px 10px 0px 0px;
  text-align: left;
}
